.container {
    display: flex;
    border:2px solid black;
    height: 200px;
    padding:8px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.container div{
    background: fuchsia;
    border: 2px solid black;
    height: 20px;  
    text-align: center; 
    flex:1;
}


